.mainbox {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(30, 30, 32);
    /* flex-direction: column; */
    margin: 20px 0px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.mainbox:hover {
    background-color: rgb(65, 61, 61);
}

.leftside {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.albuminfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.imgbox {
    border-radius: 50px;
}

@media only screen and (max-width: 890px) {
    .mainbox {
        padding: 12px;
    }

    .imgbox img {
        width: 30px;
        height: 30px;
    }

    .albuminfo h3 {
        font-size: 15px;
    }

    .albuminfo p {
        font-size: 13px;
    }

    .duration {
        font-size: 13px;
    }
}

@media only screen and (max-width: 640px) {
    .mainbox {
        padding: 10px;
    }

    .imgbox img {
        width: 20px;
        height: 20px;
    }

    .albuminfo h3 {
        font-size: 12px;
    }

    .albuminfo p {
        font-size: 10px;
    }

    .duration {
        font-size: 10px;
    }
}