.formContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: rgb(45, 41, 41);
    color: white;
    gap: 30px;
    width: 80%;
    border-radius: 10px;
}

.formContainer input {
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px 20px;
    width: 100%;
    font-size: 18px;
}

.formContainer input:focus {
    outline: none;
}

.formContainer input::placeholder {
    color: rgb(154, 143, 143);
    font-size: 15px;
}

.formContainer button {
    background-color: transparent;
    color: white;
    padding: 10px;
    border: none;
}

.searchIcon {
    font-size: 20px;
}