.formContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(45, 41, 41);
    color: white;
    gap: 30px;
    width: 80%;
    border-radius: 10px;
}

.formContainer input {
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px 20px;
    width: 100%;
}

.formContainer input::placeholder {
    color: white;
    font-size: 15px;
}