.container {
  height: 1400px;
  background: linear-gradient(to bottom, #000000, #151537);
 display: flex;
 justify-content: space-between;
 width: 100%;
}

.left {
  /* background-color: rgb(43, 54, 50); */
  width: 20%;
}

.right {
  /* background-color: blue; */
  width: 40%;
}

.middle {
  /* background-color: red !important; */
  color: white;
  width: 40%;
}