.controlContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    width: 78%;
    font-size: 20px;
}

.centerPlaybtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.playbtn {
    background-color: white;
    padding: 10px;
    color: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.greyBtn {
  background-color: rgb(46, 42, 42);
  padding: 8px;
  color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}