.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: darkblue;
    color: white;
    font-size: 10px;
    text-align: center;
}

